.logo_Arg_P:hover{
    transform: scale(1.2);
    transition-duration: 250ms;
}

.logo_Arg_P{
    width: 110px;
    height: auto;
    filter: invert(1);
    -webkit-filter: invert(1); 
    -moz-filter: invert(1)
    
}

.bg-light1{
    /* background-image: url("Img/blue-electronic-digital-background.webp"); */
    width: auto;
    border: 1.5px solid black;
    border-radius: 2px;
    background: linear-gradient(90deg, #72C6EF 0%, #004E8F 100%);
    
}

section.banner{
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.9)
    ), url(/Img/Banner-claro.jpg);
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    -msn-background-size: cover;
    background-attachment: fixed;
    background-position:  center center;
    
}

.list-group {
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
}


i.fa-brands.fa-github:hover{
    color: #6cc644;
    transform: scale(1.7);
    }

i.fa-brands.fa-facebook:hover{
color: #4b89e6;
transform: scale(1.7);
}

i.fa-brands.fa-linkedin:hover{
    color: #0e76a8;
    transform: scale(1.7);
}
i.fa-brands.fa-instagram:hover{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background-clip: text;
        border-radius: 20%;
        transform: scale(1.7);
}

i.fa-solid.fa-user-lock:hover{
    transform: scale(1.5);
}

h3.intro{
    padding-top: 15%;
    font-size: 2rem;
}

h1.intro{
    font-size: 3.2rem;
}

h2.intro{
    font-size: 2.2rem;
}

img.foto-perfil{
    position: relative;
    /* border-radius: 50%; */
    width: 250px;
    height: 250px;
    margin-top: -190px;
    margin-left: 10px;
    z-index: 1;
    transition-duration: 250ms;
}
img.foto-perfil:hover{
    transform: scale(1.2);
}

.acerca-de-mi{
    border-top: 3px solid;
    border-bottom: 3px solid; 
    border-color: rgb(173, 172, 172);
}
.exp-Lab{
    padding-top: 2px;
    padding-bottom: 1%;
}

.experiencias{
    border-top: 3px solid;
    border-color: rgb(173, 172, 172);
}

.logo-Facet{
    width: 45%;
    
}
.logo-Facet:hover{
    transform: scale(1.2);
    transition-duration: 250ms;
}
.logo_tec{
    margin-top: 20px;
    width: 45%;
    border-radius: 50%;
    border: solid;
    border-color: rgb(106, 125, 155);
}
.logo_tec:hover{
    transform: scale(1.2);
    transition-duration: 250ms;
}
.educacion{
    border-bottom: 3px solid;
    border-top: 3px solid;
    border-color: rgb(173, 172, 172);
}
.logo_IT{
    width: 45%;
}
.logo_IT:hover{
    transform: scale(1.2);
    transition-duration: 250ms;
}
.logo_UNT{
    width: 55%;
}
.logo_UNT:hover{
    transform: scale(1.2);
    transition-duration: 250ms;
}
/* .acerca-de-mi{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: black;
} */

.habilidades{
    background-image: linear-gradient(
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.5)
    ), url('./Img/habilidades-duras.jpg');
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    -msn-background-size: cover;
    background-attachment: fixed;
    background-position:  center center;
    font-family: bold;
    color: aliceblue;
    font-family: Arial;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    
}
.hard_soft{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    -webkit-text-stroke: 1px black;
    font-size: 50px;
}
body{
    background-image: linear-gradient(
        rgba(248, 245, 245, 0),
        rgba(238, 237, 237, 0)
    ), url(/Img/body.jpg);
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    -msn-background-size: cover;
    background-attachment: fixed;
    background-position:  center center;
    
}

